* {
  margin: 0; }

html, body {
  height: 100%; }

#main {
  width: 960px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; }
  #main #header {
    height: 150px;
    background: #04C4BB; }
  #main #body {
    clear: both;
    overflow: auto; }
    #main #body #content {
      padding: 15px 0 0 10px;
      width: 630px;
      background: #D9FFA9;
      float: left; }
    #main #body #sidebar {
      padding: 2em 0 0;
      width: 320px;
      background: #F4FCE8;
      float: right; }

#footer, #push {
  height: 50px; }

#footer {
  width: 960px;
  margin: 0 auto;
  background: #04C4BB;
  clear: both; }

#main ul#tabs {
  margin: -16px 0 0; }
  #main ul#tabs li {
    list-style: none;
    float: left; }
