%h2 Edit project

= error_messages_for :project

- form_for @project do |f|
  = render :partial => 'form', :locals => {:f => f}
  %fieldset{:class => "submit"}
    = f.submit "Save"

- content_for :sidebar do
  .sidebar_block
    %ul
      %li= link_to "Project list", projects_url