<div class="span-16">
  
  <h2>Projects</h2>
  
  <%= render :partial => @projects %>
  
  <%= will_paginate @projects %>
  
</div>

<div class="span-8 last">
  <% owner_area do %>
    <ul>
      <li><%= link_to "Add new project", new_project_url %></li>
    </ul>
  <% end%>
</div>  