<div class="span-24">

  <h2> New blog post </h2>
  
  <%= error_messages_for :post %>
  
  <% form_for [current_user, @post], :html => {:id => 'post_form'} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <fieldset class="submit">
      <%= f.submit "Create", :class => "Button" %>
    </fieldset>
  <% end %>
  
  
  <% content_for :sidebar do %>
    <div class="sidebar_block">
      <ul>
        <li><%= link_to "Blog", user_posts_url(current_user) %></li>
      </ul>
    </div>
  <% end %>

</div>

