<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en-GB' xml:lang='en-GB' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='content-type' />
    <title>Portfolio App</title>

    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />

    <script src="/javascripts/prototype.js?1224095462" type="text/javascript"></script>
    <script src="/javascripts/effects.js?1224095462" type="text/javascript"></script>
    <script src="/javascripts/dragdrop.js?1224095462" type="text/javascript"></script>
    <script src="/javascripts/controls.js?1224095462" type="text/javascript"></script>
    <script src="/javascripts/application.js?1224090267" type="text/javascript"></script>
    
    <script src="/javascripts/endless_page.js?1224090267" type="text/javascript"></script>
    
  </head>

  <body>
    
    <div id="container">
      
      <div id="header">
        <h1>Portfolio<span>App</span></h1>
        <ul id="navi">
          <li class="active"><%= link_to 'Projects', projects_path %></li>
          <li><%= link_to 'Blog', posts_path %></li>
          <li><a href="#">Books</a></li>
        </ul>
        <div id="sub_navi">Welcome back user, <a href="#">Logout</a></div>
      </div>      
      
      <div id="content">
        <%= yield %>
      </div>
      
      <div class="clearfix"></div>
      <div id="footer">Powered by rails</div>      
      <div id="spinner" style="position: absolute; display: none; right: 1%; margin-top: -100px;">
        <%= image_tag 'spinner.gif' %>
      </div>
    </div>

  </body>
</html>