<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
%html
  %head
    %title Portfolio App
    = stylesheet_link_tag "http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css"
  %body
    #doc4.yui-t5
      #hd
        %h1 YUI: CSS Grid Builder
      #bd
        #yui-main
          .yui-b
            .yui-g Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas sit amet metus. Nunc quam elit, posuere nec, auctor in, rhoncus quis, dui.
        .yui-b Navigation Pane
      #ft Footer here